.cards__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
    height: 88vh;
}

.cards__list_item {
    width: 30%;
   

}

.cards__list_item_img {
    width: 100%;
    height: 200px;
}